h1 {
  text-align: center;
}

html body {
  background-color: #caff70;
}
html body img {
  width:400px;
  height:auto;
}

html body .container .rowleft{
  display:flex;
  flex: 1 auto;
}
/*html body .container .carousel-content {
  display:flex;
  flex: 1 auto;
}*/

@media all and (max-width: 991px) {
  html body .rowleft{margin-left: 30px;}
}

html body .planeLogo{
  width: 55px;
  height: auto;
  margin-top: -17px;
}

html body .btn-danger {
  margin-left: 50%;
}

html body .carousel-inner > .item > a img {
    margin: 0 auto;
}
#two img {
  height:220px;
}

/*.carousel-content {
 position: absolute;
 bottom: 13%;
 left: 32.5%;
 z-index: 20;
 color: white;
 text-shadow: 0 1px 2px rgba(0,0,0,.6);
 background-color: grey;
 width: 400px;
 text-align: center;
}*/
